:root {
  font-size: 10px;
}

body {
  line-height: 1.7;
  font-family: "Noto Sans JP", MyYuGothicM, YuGothic, -apple-system, BlinkMacSystemFont, "Hiragino kaku Gothic ProN", Meiryo, Verdana, arial, helvetica, sans-serif;
  font-size: 1.6rem;
  color: #121212;
  background-color: #fff;
  overflow: hidden;
}

ul,li {
  list-style: none;
  box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}
