@use 'mixin' as *;
@use "sass:math";


.l-main {
  padding-top: 50px;
  @include breakpoint(wide) {
    padding-top: 70px;
  }
}

.l-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: fixed;
  z-index: 1100;
  top: 0;
  left: 0;

  &-logo {
    width: 160px;
    margin: 10px;
    @include breakpoint(wide){
      margin: 0;
      margin-left: 21px;
      }
    }
  &-link {
    color: $linkblack;

    @include breakpoint(wide) {
      width: auto;
      }
    }
  }

.l-topHead {
  position: relative;
  height: 300px;
  padding-bottom: 320px;
  background: transparent url(./assets/images/bg-hero3.png) no-repeat center -25px;

  @include breakpoint(tablet) {
    background-position-y: center;
    height: 650px;
    padding: 0;
  }


  &-body {
    width: 100%;
    max-width: 100%;
    padding: 9px 0 13px;
    @include breakpoint(tablet) {
      width: auto;
    }
  }
}
.l-secBlack {
  padding: 4em 0;
  background-color: black;

  .l-secWrap {
    max-width: 1078px;
  }
}

.l-topHead-layer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
