@use "sass:math";

$rGreen: #2498B3;
$btnWidth: 23px;
$btnHeight: 2px;
$blueblack: #131D34;
$linkblack: #121212;
$wblue: #F3FAFB;
$pblue: #D4F1F8;
$liwhite: #E9F8FB;




//メディアクエリ用mixin
@mixin breakpoint($point){
  @if $point == tablet {
    @media (min-width:768px) {
      @content;
    }
  }
  @if $point == narrow {
    @media (min-width:1079px) {
      @content;
    }
  }
  @if $point == wide {
    @media (min-width:1201px) {
      @content;
    }
  }
  @if $point == swide {
    @media (min-width:1281px) {
      @content;
    }
  }
}
