@use "sass:math";

$rGreen: #2498B3;
$btnWidth: 23px;
$btnHeight: 2px;
$blueblack: #131D34;
$linkblack: #121212;
$wblue: #F3FAFB;
$pblue: #D4F1F8;
$liwhite: #E9F8FB;


// /* medhia */
// $screen01:  "screen and (max-width: 1200px)";
// //ナビゲーション・フッター関係
// $screen02:  "screen and (max-width: 1078px)";
// //通常コンテンツ幅以下 2カラムへ
// $screen03:  "screen and (max-width: 767px)";
// //タブレット以下 1カラムへ
// $screen04:  "screen and (max-width: 500px)";
// //スマホ


//メディアクエリ用mixin
@mixin breakpoint($point){
  @if $point == tablet {
    @media (min-width:768px) {
      @content;
    }
  }
  @if $point == narrow {
    @media (min-width:1078px) {
      @content;
    }
  }
  @if $point == wide {
    @media (min-width:1200px) {
      @content;
    }
  }
}
