@use "sass:math";
@use "mixin" as *;

//project

.l-main {
  .p-topHead {
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
  }
}

.p-hamburger-wrap {
  font-weight: 700;
}

.p-hamburger {
  display: block;
  box-sizing: border-box;

  >a{
    width: 50px;
    height: 50px;
    display: block;
    box-sizing: border-box;
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: $btnWidth;
      height: $btnHeight;
      background-color: $rGreen;
      top: 15px;
      left: calc( 50% - math.div(#{$btnWidth},2) ) ;

      @include breakpoint(wide) {
        display: none;
      }
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: $btnWidth;
      height: $btnHeight;
      background-color: $rGreen;
      bottom: 15px;
      left: calc( 50% - math.div(#{$btnWidth},2) ) ;
      @include breakpoint(wide) {
        display: none;
      }
    }

    @include breakpoint(wide) {
      width: 0;
      height: 0;
    }

    span {
      content: "";
      display: block;
      position: absolute;
      width: $btnWidth;
      height: $btnHeight;
      background-color: $rGreen;
      top: calc( 50% - math.div(#{$btnHeight},2) ) ;
      left: calc( 50% - math.div(#{$btnWidth},2) ) ;

      @include breakpoint(wide) {
        display: none;
      }
    }
  }

  a.is-open {
    background-color: $rGreen;
    &::before {
      transform: rotate(135deg);
      top: 25px;
      background-color: #fff;
      transition-duration: 0.3s;
    }
    &::after {
      transform: rotate(-135deg);
      top: 25px;
      background-color: #fff;
      transition-duration: 0.3s;
    }

    > span.is-open {
      display: none;
    }
  }
}

.p-nav {
  display: none;
  z-index: 999;
  position: absolute;
  top: 50;
  left: 0;
  @include breakpoint(wide) {
  display: block;
  position: static;
}

  .p-menu {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100vw;
    @include breakpoint(wide) {
      width: auto;
    }

    &-item a {
      display: flex;
      align-items: center;
      padding: 10px;
      font-weight: 700;
    }
    .p-submenu {
      display: none;
    }
    @include breakpoint(wide) {
      display: flex;
      flex-direction: row;
      font-weight: 700;

      &-item {
        position: relative;
        text-align: left;
        white-space: nowrap;

        a {
          padding: 0 10px;
          height: 70px;
          text-decoration: none;
          @include breakpoint(swide) {
            padding: 0 15px;
        }
      }
    }
    }
  }
}


.p-submenu {
  // display: none;
  position: absolute;
  top: 70px;
  z-index: 1000;

  &-item {
    position: relative;
    font-weight: 400;
    @include breakpoint(wide) {
      background-color: $liwhite;
      display: none;
    }
    a {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      height: auto;
      padding: 15px 60px 15px 15px;
      position: relative;
    }
  }
}

.p-order {
  display: none;
  @include breakpoint(wide) {
    display: block;
    background-color: $rGreen;
    color: #fff;
    a {
      display: flex;
      align-items: center;
      height: 70px;
      padding: 0 15px;
    }
  }
}


.p-secBlack {
  font-size: 1.6rem;
  padding-top: 64px;

  .p-secWrap {
    margin: 0 10px;
    @include breakpoint(narrow) {
      margin: 0 auto;
    }
  }

  .p-recommendation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1000;

    @include breakpoint(tablet) {
      margin-top: -263px;
      flex-direction: row;
    }

    &-entry {
      margin-bottom: 40px;
      margin-left: 2%;
      margin-right: 2%;
      width: auto;

      @include breakpoint(narrow) {
        margin: 0 50px;
        width: 229px;

      }
    }
    &-title p {
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      color: #fff;
    }
  }
}



//component

.c-header-logo-imgWrap {
  display: flex;
  align-items: center;
  align-content: center;
  font-weight: 900;
  cursor: pointer;
  line-height: 1.3;
  text-decoration: none;

  @include breakpoint(wide) {
    color: $blueblack;
    text-decoration-color: $blueblack;
    height: 70px;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    }

  img {
    height: 30px;
    width: auto;
    vertical-align: middle;
    @include breakpoint(wide) {
      height: 33px;
    }
  }
}



.c-layer1 {
  display: flex;
  background: transparent url(./assets/images/bg-hero1.png) no-repeat center center;
  background-size: cover;
  align-items: flex-end;
  background-position: center -30px;
  justify-content: center;
  padding-top: 80px;
  z-index: 200;

  @include breakpoint(tablet) {
    background-position-y: center;
    align-items: flex-start;
    background-size: auto;
  }
}

.c-layer2 {
  background: url(./assets/images/bg-hero2.png) no-repeat center center;
  background-size: cover;
  background-position: center -25px;

  @include breakpoint(tablet) {
    background-position-y: center;
    background-size: auto;
  }

}


.c-topHead-body {
  background-color: #FFF;
  text-align: center;
  font-weight: 400;
  font-size: 1.3rem;

  @include breakpoint(tablet){
    border-radius: 10px;
    max-width: 530px;
    padding: 43px 40px;
    padding-bottom: 19px;
    font-size: 1.6rem;
  }
  h1 {
    margin-bottom: 0.5rem;
    font-size: 24px;
    img {
      display: none;

      @include breakpoint(tablet) {
        width: 280px;
        height: auto;
        display: inline;
        vertical-align: middle;
      }
    }
  }
  p {
    font-weight: 700;
    margin: 0.5em 0;
    display: block;

    @include breakpoint(tablet) {
      margin-top: 1.3em;
    }
  }
  .c-btn {
    margin: 0.5em 0;
    line-height: 1;
    display: inline-block;
    border: none;

    @include breakpoint(tablet) {
      margin-top: 1.3em;
    }
    a {
      box-sizing: border-box;
      padding: 12px 18px;
      font-size: 1.6rem;
      font-weight: 700;
      color: #FFF;
      background-color: $rGreen;
      border-radius: 4px;
      display: block;
      border: solid 1px $rGreen;
      text-decoration: none;

      @include breakpoint(tablet) {
        font-size: 18px;
        padding: 24px 37px;
      }
    }
  }
}

.c-recommendation-icon {
  width: 230px;
  height: 230px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: solid 6px #000;
  color: #000;
  background-color: #fff;
  font-size: 100px;
  margin: 0 auto;
  justify-content: center;
}

.c-icon {
  text-align: center;
  width: 125px;
  color: black;
}

.c-subtitle {
  display: none;
  font-size: 1.4rem;
  font-weight: 900;
  margin-left: 16px;
  white-space: nowrap;
  box-sizing: border-box;
  color: $blueblack;
  strong {
    font-size: 18px;
  }
  @include breakpoint(swide) {
    display: block;
    line-height: 1.3;

  }
}


//utility

.p-recommendation-body>p {
  margin-top: 0.5em;
  color: #fff;
  font-weight: 700;
}

.u-mg02 {
  margin-top: 0.2em;
}


.u-td03 {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}


//icon


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
